{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Task List{% endblock %}

{% block content %}

<h1 class="text-2xl mb-4 flex items-center">
  Tasks {{ macros.svg_link("/task/create") }}
</h1>

{% set allowed_filter_fields = allowed_filter_fields %}
{% set show_export = True %}
{% set export_action = "/task/export" %}

{% include "partials/filters.html" %}

{% macro render_cell(row, field) %}
  {% set key = field.lower().replace(" ", "_") %}
  {% if field == 'Title' %}
    <a href="/task/{{ row['id'] }}" class="text-[#0e5c6a] hover:underline">{{ row[key] }}</a>
  {% elif field == 'Project' %}
    <a href="/project/{{ row['project_id'] }}" class="text-[#0e5c6a] hover:underline">{{ row['project_name'] }}</a>
  {% elif field == 'User' %}
    <a href="/user/{{ row['user_id'] }}" class="text-[#0e5c6a] hover:underline">{{ row['user_name'] }}</a>
  {% elif field == 'Date' %}
    {{ row['timestamp'] | date_to_string }}
  {% elif field == 'Last Updated' %}
    {{ row['last_updated'] | date_to_string }}
  {% elif field == 'Status' %}
    {{ macros.render_status(row[key]) }}
    {% if row["returned"] %}
      {{ macros.returned_svg() }}
    {% endif %}
  {% elif field == 'Logs' %}
    {{ macros.length_link(row[key], '/task/' ~ row.id ~ '/logs', 'Log', 'Logs') }}
  {% elif field == 'Hours Worked' %}
    {% set hours = row[key] %}
    {% set old = row['timestamp']|is_old %}
    {% if hours > row['hours_required'] or old %}
      <span class="text-red-500">{{ hours }}</span>
    {% else %}
      <span class="text-green-500">{{ hours }}</span>
    {% endif %}
  {% elif field == 'Actions' %}
    {{ macros.svg_link("/log/create?task_id=" ~ row.id ~ "&task_name=" ~ row.title) }}
  {% else %}
    {{ row[key] }}
  {% endif %}
{% endmacro %}

{% set extra_params_list = [] %}
{% if search and search|length > 0 %}
  {% set _ = extra_params_list.append("search=" ~ search|urlencode) %}
{% endif %}
{% if filter_field and filter_field|length > 0 %}
  {% set _ = extra_params_list.append("filter_field=" ~ filter_field|urlencode) %}
{% endif %}
{% if filter_operator and filter_operator|length > 0 %}
  {% set _ = extra_params_list.append("filter_operator=" ~ filter_operator|urlencode) %}
{% endif %}
{% if filter_value and filter_value|length > 0 %}
  {% set _ = extra_params_list.append("filter_value=" ~ filter_value|urlencode) %}
{% endif %}
{% if filter_value2 and filter_value2|length > 0 %}
  {% set _ = extra_params_list.append("filter_value2=" ~ filter_value2|urlencode) %}
{% endif %}

{% set extra_params = extra_params_list|join("&") %}

{% include "partials/table.html" %}

{% include "pagination.html" %}

{% endblock %}