{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}Task List{% endblock %}

{% block content %}

<h1 class="text-2xl mb-4 flex items-center">
  Tasks
  {{ macros.svg_link("/task/create") }}
</h1>

<form id="csv" method="get" action="/task/export" class="mb-4 flex items-center hidden">
  <label for="start_date" class="mr-2">Start Date:</label>
  <input type="date" name="start_date" required class="mr-4">
  <label for="end_date" class="mr-2">End Date:</label>
  <input type="date" name="end_date" required class="mr-4">
  <button type="submit" class="bg-[#002F41] text-white px-4 py-2 rounded">
    Export
  </button>
</form>

<table class="min-w-full bg-white rounded-lg overflow-hidden shadow-md">
  <thead>
    <tr class="bg-[#002F41] text-white">
      {% for header in headers %}
      <th
        class="w-1/{{ headers|length }} text-center py-3 px-4 uppercase font-semibold text-sm"
      >
        {% set field = header %}
        {% if current_sort == field %}
          {% if current_order == 'asc' %}
            {% set next_order = 'desc' %}
          {% else %}
            {% set next_order = 'asc' %}
          {% endif %}
        {% else %}
          {% set next_order = 'asc' %}
        {% endif %}
        <a href="?sort={{ field }}&order={{ next_order }}" class="hover:underline">
          {{ header }}
        </a>
      </th>
      {% endfor %}
      <th class="w-1/12 text-center py-3 px-4 uppercase font-semibold text-sm">
        Log
      </th>
    </tr>
  </thead>
  <tbody class="text-gray-700">
    {% for row in data %}
    <tr
      class="{% if loop.index is even %}bg-gray-50{% endif %} hover:bg-gray-100"
    >
      {% for field in headers %} {% set key = field.lower().replace(" ", "_") %}
      <td class="w-1/{{ headers|length }} text-center py-3 px-4">
        {% if field == 'Title' %}
        <a href="/task/{{ row['id'] }}" class="text-[#0e5c6a] hover:underline"
          >{{ row[key] }}</a
        >
        {% elif field == 'Project' %}
        <a
          href="/project/{{ row['project_id'] }}"
          class="text-[#0e5c6a] hover:underline"
          >{{ row['project_name'] }}</a
        >
        {% elif field == 'User' %}
        <a
          href="/user/{{ row['user_id'] }}"
          class="text-[#0e5c6a] hover:underline"
          >{{ row['user_name'] }}</a
        >

        {% elif field == 'Timestamp' %}
        {{ row['timestamp'] | date_to_string }}

        {% elif field == 'Last Updated' %}
        {{ row['last_updated'] | date_to_string }}

        {% elif field == 'Status' %}
        {{ macros.render_status(row[key]) }}
          {% if row["returned"] %}
            {{ macros.returned_svg() }}
        {% endif %}
        
        {% elif field == 'Logs' %} {{ macros.length_link(row[key], '/task/' ~ row.id ~ '/logs', 'Log', 'Logs') }}
        
        {% elif field == 'Hours Worked' %}
          {% set hours = row[key] %}
          {% set old = row['timestamp']|is_old %}
          {% if hours > row['hours_required'] or old %}
            <span class="text-red-500">{{ hours }}</span>
          {% else %}
           <span class="text-green-500">{{ hours }}</span>
        {% endif %}

        {% else %} {{ row[key] }} {% endif %}
      </td>
      {% endfor %}
      <td class="w-1/12 text-center py-3 px-4">
        {{ macros.svg_link("/log/create?task_id=" ~ row.id ~ "&task_name=" ~ row.title) }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
    fetch('/user/is_admin')
        .then(response => response.json())
        .then(data => {
            if (data) {
                document.getElementById('csv').classList.remove('hidden');
            }
        }).catch(error => {
            console.error('Error:', error);
        });
</script>

{% include "pagination.html" %} {% endblock %}
