{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}User List{% endblock %}

{% block content %}

<h1 class="text-2xl mb-4">
  Users {{ macros.svg_link("/user/create") }}
</h1>

{% set allowed_filter_fields = headers %}
{% set show_export = False %}

{% include "partials/filters.html" %}

{% macro render_cell(row, field) %}
  {% set key = field.lower().replace(" ", "_") %}
  {% if field == 'Name' %}
    <a href="/user/{{ row['id'] }}" class="text-[#0e5c6a] hover:underline">{{ row['full_name'] }}</a>
  {% elif field == 'Projects' %}
    {{ macros.length_link(row[key], '/user/' ~ row.id ~ '/projects', 'Project', 'Projects') }}
  {% elif field == 'Tasks' %}
    {{ macros.length_link(row[key], '/user/' ~ row.id ~ '/tasks', 'Task', 'Tasks') }}
  {% else %}
    {{ row[key] }}
  {% endif %}
{% endmacro %}

{% set extra_params = "search={{ search }}&filter_field={{ filter_field }}&filter_operator={{ filter_operator }}&filter_value={{ filter_value }}&filter_value2={{ filter_value2 }}" %}

{% include "partials/table.html" %}

{% include "pagination.html" %}

{% endblock %}