{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}User List{% endblock %}

{% block content %}

<h1 class="text-2xl mb-4">
  Users {{ macros.svg_link("/user/create") }}
</h1>

{% set allowed_filter_fields = headers %}
{% set show_export = False %}

{% include "partials/filters.html" %}

{% macro render_cell(row, field) %}
  {% set key = field.lower().replace(" ", "_") %}
  {% if field == 'Name' %}
    <a href="/user/{{ row['id'] }}" class="text-[#0e5c6a] hover:underline">{{ row['full_name'] }}</a>
  {% elif field == 'Projects' %}
    {{ macros.length_link(row[key], '/user/' ~ row.id ~ '/projects', 'Project', 'Projects') }}
  {% elif field == 'Tasks' %}
    {{ macros.length_link(row[key], '/user/' ~ row.id ~ '/tasks', 'Task', 'Tasks') }}
  {% else %}
    {{ row[key] }}
  {% endif %}
{% endmacro %}

{% set extra_params_list = [] %}
{% if search and search|length > 0 %}
  {% set _ = extra_params_list.append("search=" ~ search|urlencode) %}
{% endif %}
{% if filter_field and filter_field|length > 0 %}
  {% set _ = extra_params_list.append("filter_field=" ~ filter_field|urlencode) %}
{% endif %}
{% if filter_operator and filter_operator|length > 0 %}
  {% set _ = extra_params_list.append("filter_operator=" ~ filter_operator|urlencode) %}
{% endif %}
{% if filter_value and filter_value|length > 0 %}
  {% set _ = extra_params_list.append("filter_value=" ~ filter_value|urlencode) %}
{% endif %}
{% if filter_value2 and filter_value2|length > 0 %}
  {% set _ = extra_params_list.append("filter_value2=" ~ filter_value2|urlencode) %}
{% endif %}

{% set extra_params = extra_params_list|join("&") %}

{% include "partials/table.html" %}

{% include "pagination.html" %}

{% endblock %}