<div class="mb-4 flex justify-between items-center gap-4">
  <form method="get" class="flex items-center gap-2">
    <!-- Search Input -->
    <input
      type="text"
      name="search"
      placeholder="Search"
      value="{{ search or '' }}"
      class="px-4 py-2 border rounded-lg w-64"
    />

    <!-- Filter Field Dropdown -->
    <select name="filter_field" class="px-4 py-2 border rounded-lg">
      <option value="">-- Select Field --</option>
      {% for header in allowed_filter_fields %}
        <option value="{{ header }}" {% if filter_field == header %}selected{% endif %}>
          {{ header }}
        </option>
      {% endfor %}
    </select>

    {% set filter_operators = [
      {'value': 'eq', 'label': 'Equals'},
      {'value': 'contains', 'label': 'Contains'},
      {'value': 'gt', 'label': 'Greater Than'},
      {'value': 'gte', 'label': 'Greater Than or Equal To'},
      {'value': 'lt', 'label': 'Less Than'},
      {'value': 'lte', 'label': 'Less Than or Equal To'},
      {'value': 'between', 'label': 'Between'},
    ] %}
    <!-- Filter Operator Dropdown -->
    <select name="filter_operator" class="px-4 py-2 border rounded-lg">
      <option value="">-- Select Operator --</option>
      {% for operator in filter_operators %}
        <option value="{{ operator.value }}" {% if filter_operator == operator.value %}selected{% endif %}>
          {{ operator.label }}
        </option>
      {% endfor %}
    </select>

    <!-- Filter Value Inputs -->
    <input
      type="text"
      name="filter_value"
      placeholder="Filter value..."
      value="{{ filter_value or '' }}"
      class="px-4 py-2 border rounded-lg w-48"
    />

    <!-- Additional input for 'between' operator -->
    <input
      type="text"
      name="filter_value2"
      placeholder="And..."
      value="{{ filter_value2 or '' }}"
      class="px-4 py-2 border rounded-lg w-48 {% if filter_operator != 'between' %}hidden{% endif %}"
      id="filter_value2"
    />

    <button type="submit" class="bg-[#002F41] text-white px-4 py-2 rounded">
      Apply
    </button>
  </form>

  {% if show_export %}
  <!-- Export form -->
  <form
    id="csv"
    method="get"
    action="{{ export_action }}"
    class="flex items-center hidden"
  >
    <label for="start_date" class="mr-2">Start Date:</label>
    <input type="date" name="start_date" required class="mr-4" />
    <label for="end_date" class="mr-2">End Date:</label>
    <input type="date" name="end_date" required class="mr-4" />
    <button type="submit" class="bg-[#002F41] text-white px-4 py-2 rounded">
      Export
    </button>
  </form>
  {% endif %}
</div>

<script>
  document.querySelector('select[name="filter_operator"]').addEventListener('change', function() {
    const filterValue2 = document.getElementById('filter_value2');
    if (this.value === 'between') {
      filterValue2.classList.remove('hidden');
    } else {
      filterValue2.classList.add('hidden');
    }
  });

  window.addEventListener('DOMContentLoaded', (event) => {
    const operator = document.querySelector('select[name="filter_operator"]').value;
    const filterValue2 = document.getElementById('filter_value2');
    if (operator === 'between') {
      filterValue2.classList.remove('hidden');
    } else {
      filterValue2.classList.add('hidden');
    }
  });

  fetch("/user/is_admin")
    .then((response) => response.json())
    .then((data) => {
      if (data) {
        document.getElementById("csv").classList.remove("hidden");
      }
    })
    .catch((error) => {
      console.error("Error:", error);
    });
</script>