<div class="mb-4 flex justify-between items-center gap-4">
  <form method="get" class="flex items-center gap-2">
    <!-- Single Combined Filter/Search Input -->
    <input
      type="text"
      name="combined_filters"
      id="combined_filters_input"
      placeholder="e.g. Date>2024-12-20,Date<2024-12-24,Hours Worked>=7,Task Name contains 9"
      value=""
      class="px-4 py-2 border rounded-lg w-[40rem]"
    />

    <button type="submit" class="bg-[#002F41] text-white px-4 py-2 rounded">
      Apply
    </button>
  </form>


  <!-- Export form -->
  {% if show_export %}
  <form
    id="csv"
    method="get"
    action="{{ export_action }}"
    class="flex items-center hidden"
  >
    <label for="start_date" class="mr-2">Start Date:</label>
    <input type="date" name="start_date" required class="mr-4" />
    <label for="end_date" class="mr-2">End Date:</label>
    <input type="date" name="end_date" required class="mr-4" />
    <button type="submit" class="bg-[#002F41] text-white px-4 py-2 rounded">
      Export
    </button>
  </form>
  {% endif %}
</div>
<script>
  fetch("/user/is_admin")
    .then((response) => response.json())
    .then((data) => {
      if (data) {
        document.getElementById("csv").classList.remove("hidden");
      }
    })
    .catch((error) => {
      console.error("Error:", error);
    });

  document.addEventListener('DOMContentLoaded', function() {
    // Parse the query parameters from the URL
    const params = new URLSearchParams(window.location.search);
    
    // Get the 'combined_filters' parameter
    const combinedFilters = params.get('combined_filters');
    
    // If 'combined_filters' exists, set it as the input's value
    if (combinedFilters) {
      document.getElementById('combined_filters_input').value = combinedFilters;
    }
  });
</script>