{% extends "base.html" %}

{% import "macros.html" as macros %}
{% block title %}Project Details{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto bg-white p-8 shadow-md">
    <div class="flex items-center justify-between mb-4">
        <h1 class="text-2xl">Project Details</h1>
        <div class="flex flex-col items-start">
          <a
            href="/project/{{ project.id }}/assign"
            class="text-sm text-[#0e5c6a] hover:underline"
            title="Assign Project to a Developer"
          >
            Assign Developer
          </a>
          <a
            href="/project/{{ project.id }}/remove_user"
            class="text-sm text-[#0e5c6a] hover:underline"
            title="Remove Developer"
          >
            Remove Developer
          </a>
          <a
            href="/project/{{ project.id }}/edit"
            class="text-sm text-[#0e5c6a] hover:underline"
            title="Remove Developer"
          >
            Edit Project
          </a>
        </div>
    </div>
    <p><strong>Email: </strong> {{ project.email or "" }}</p>
    <p><strong>Name: </strong> {{ project.name }}</p>
    <p><strong>Send Email: </strong>
      {% if project.send_email == True %}
        <span class="bg-green-200 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Yes</span>
      {% else %}
          <span class="bg-red-200 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">No</span>
      {% endif %}
    </p>
    <p><strong>Archived: </strong>
      {% if project.archived == True %}
        <span class="bg-green-200 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Yes</span>
      {% else %}
          <span class="bg-red-200 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">No</span>
      {% endif %}
    </p>
    <p>
      <strong>Developers: </strong>
      {{ macros.length_link(project.developers, '/project/' ~ project.id ~ '/users', 'Developer', 'Developers') }}
    </p>
    <p>
      <strong>Tasks: </strong>
      {{ macros.length_link(project.tasks, '/project/' ~ project.id ~ '/tasks', 'Task', 'Tasks') }}
    </p>
</div>
{% endblock %}