{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}Project List{% endblock %}

{% block content %}

<h1 class="text-2xl mb-4 flex items-center">
    Projects
    {{ macros.svg_link("/project/create") }}
</h1>

<table class="min-w-full bg-white rounded-lg overflow-hidden shadow-md">
    <thead>
        <tr class="bg-[#002F41] text-white">
            {% for header in headers %}
                <th class="w-1/{{ headers|length }} text-center py-3 px-4 uppercase font-semibold text-sm">
                    {% set field = header %}
                    {% if current_sort == field %}
                    {% if current_order == 'asc' %}
                        {% set next_order = 'desc' %}
                    {% else %}
                        {% set next_order = 'asc' %}
                    {% endif %}
                    {% else %}
                    {% set next_order = 'asc' %}
                    {% endif %}
                    <a href="?sort={{ field }}&order={{ next_order }}" class="hover:underline">
                    {{ header }}
                    </a>
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="text-gray-700">
        {% for row in data %}
            <tr class="{% if loop.index is even %}bg-gray-50{% endif %} hover:bg-gray-100">
                {% for field in headers %}
                    {% set key = field.lower().replace(" ", "_") %}
                    <td class="w-1/{{ headers|length }} text-center py-3 px-4">
                        {% if field == 'Status' %}
                            {% if row[key] == 'Active' %}
                                <span class="bg-green-200 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">{{ row[key] }}</span>
                            {% elif row[key] == 'Pending' %}
                                <span class="bg-yellow-200 text-yellow-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">{{ row[key] }}</span>
                            {% elif row[key] == 'Inactive' %}
                                <span class="bg-red-200 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">{{ row[key] }}</span>
                            {% else %}
                                {{ row[key] }}
                            {% endif %}
                        {% elif field in ['Archived', 'Send Email'] %}
                            {% if row[key] == True %}
                                <span class="bg-green-200 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Yes</span>
                            {% else %}
                                <span class="bg-red-200 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">No</span>
                            {% endif %}
                        {% elif field == 'Name' %}
                            <a href="/project/{{ row['id'] }}" class="text-[#0e5c6a] hover:underline">{{ row[key] }}</a>
                        {% elif field == 'Developers' %}
                            <a href="/project/{{ row['id'] }}/users" class="text-[#0e5c6a] hover:underline">{{ row[key]|length }} {{ 'Developer' if row[key]|length == 1 else 'Developers' }}</a>
                        {% elif field == 'Tasks' %}
                            <a href="/project/{{ row['id'] }}/tasks" class="text-[#0e5c6a] hover:underline">{{ row[key]|length }} {{ 'Task' if row[key]|length == 1 else 'Tasks' }}</a>
                        {% else %}
                            {{ row[key] }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "pagination.html" %}

{% endblock %}